{% extends 'base.html' %}
{% block title %}Version Control{% endblock %}

{% block contents %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- <div class="btn-group pull-right m-t-20">
                <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                </div>
            </div> -->
            <h4 class="page-title">Version Control</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <!-- <h4 class="m-t-0 header-title">Form row</h4>
                <p class="text-muted m-b-30 font-13">
                    You may also swap <code class="highlighter-rouge">.row</code> for <code class="highlighter-rouge">.form-row</code>, a variation of our standard grid row that overrides the default column gutters for tighter and more compact layouts.
                </p> -->

                <div class="table-responsive">
                    <table class="tablesaw table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Application Name</th>
                                <th>Last Update</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in version_control %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ app.application.name }}</td>
                                    <td>{{ app.last_updated }}</td>
                                    <td style="text-align:right" data-toggle="collapse" data-target="#accordion{{ app.id }}" class="clickable">
                                        <button class="btn mdi mdi mdi-details"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" nowrap>
                                        <div id="accordion{{ app.id }}" class="collapse">
                                            <div class="grid-container" style="grid-template-columns:auto auto auto auto; display: grid; grid-gap: 1em;">
                                                {% for component, value in app.versions.items %}
                                                <div class="grid-item">
                                                    <center>
                                                        {{ component }}
                                                    </center>

                                                    <center>
                                                        {% for branch, value2 in value.items %}
                                                            {{ branch }} -> 
                                                            {% for version, value3 in value2.items %}
                                                                {% if value3 != "0.0.0" %}
                                                                    V{{ value3 }}
                                                                {% else %}
                                                                    No published version
                                                                {% endif %}
                                                                <br>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </center>
                                                    <br>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <li>No registered applications found.</li>
                                <br>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}